<nav
  class="sticky top-0 z-50 bg-white border-gray-200 rounded-md px-2 sm:px-4 py-2.5 backdrop-filter backdrop-blur-lg bg-opacity-30"
>
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <a href="/"><i class="fa-solid fa-code text-2xl"></i></a>
    <div class="hidden w-full md:block md:w-auto" id="mobile-menu">
      <ul
        class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium text-black"
      >
      <li>
        <a href="/" class="hover:text-green-800"> Home </a>
      </li>
        <li>
          <a href="/about" class="hover:text-green-800"> About </a>
        </li>
        <li>
          <a href="/project" class="hover:text-green-800"> Projects </a>
        </li>
        <li>
          <a href="/services" class="hover:text-green-800"> Services </a>
        </li>
        <li>
          <a href="/contact" class="hover:text-green-800"> Contact </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
