<meta charset="UTF-8" />
<title>Edmund Tang</title>


<!-- Tailwind CSS -->
<script src="https://cdn.tailwindcss.com"></script>

<!-- Font Awesome -->
<script
  src="https://kit.fontawesome.com/58bfff5fea.js"
  crossorigin="anonymous"
></script>

<!-- CSS -->

<link rel="stylesheet" href="/stylesheets/style.css"

