<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

      <div class="text-center py-4">
        <p class="fs-3">Hello, Welcome to my Website</p>
        <p class="fs-2">
          I offer a unique web design experience, by providing the best in my
          Portfolio.
        </p>
        <a class="btn btn-primary" href="/project">Check out my Project!</a>
      </div>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
