<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="text-center">
        <p class="fs-3">Hello, Welcome to my Website</p>
        <p class="fs-1">
          I offer a unique web design experience, by providing the best in my
          Portfolio.
        </p>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
