<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <!-- FFD -->
      <div class="container mx-auto text-center">
        <p class="p-4 fs-1">Project</p>

        <img src="/images/ffd.png" height="480" alt="ffd img" />
        <div>
          <p class="fs-3">Fake Financial Data API</p>
          <p class="fs-5">
            Free API builds for testing and data analysis practice. Stacks:
            React, Express, PostgreSQL, API, Jest (Unit Test). Project and
            Server deploy on AWS EC2 and RDS.
          </p>
        </div>

        <a href="https://github.com/EdmundLT/fake-financial-data-io" class="btn btn-primary">Repo</a>
        <a href="http://ffd-api.click/" class="btn btn-primary">Live Demo</a>
      </div>
      <hr />
      <!-- My Portfolio -->
      <div class="container mx-auto text-center">
        <img src="/images/portfolio.png" height="480" alt="ffd img" />
        <div>
          <p class="fs-3">My portfolio</p>
          <p class="fs-5">
            This is my personal website built in React, Tailwind CSS, Material
            UI
          </p>
        </div>

        <a href="https://github.com/EdmundLT/EdmundLT.github.io/tree/master" class="btn btn-primary"
          >Repo</a
        >
        <a href="https://edmundlt.tech" class="btn btn-primary">Live Demo</a>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
